*{
	letter-spacing: 0.6px;
	user-select: none;
	text-decoration: none;
}

html, body {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
}

body.mouli1 {
	background: url("../images/mouli.jpg") no-repeat top center fixed;
}

body.mouli2 {
	background: url("../images/mouli2.jpg") no-repeat top center fixed;
}

header {
	font-size: 1.2em;
	display: flex;
	justify-content: space-between;
	border-bottom: 0.1rem solid rgba(98, 0, 255, 0.292);
	background-color: rgba(0, 0, 0, 0.187);
}

#cat-btn {
	background-color: rgba(0, 0, 23, 0.886);
	border-radius: 100%;
	font-size: 0.8em;
	color: white;
	font-weight: 1000;
	font-family: sans-serif;
	border-width: 0px;
	width: 4em;
	height: 4em;
	transition:
		width 0.2s,
		height 0.2s,
		color 0.2s,
		text-shadow 0.3s,
		transform 0.3s;
}

#cat-btn:hover {
	width: 4.5em;
	height: 4.5em;
	color: rgb(221, 25, 232);
	text-shadow:
		1px 1px 2px rgba(187, 0, 255, 0.426),
		0 0 1em rgb(251, 0, 255),
		0 0 0.2em rgba(85, 0, 255, 0.853);
}

#cat-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

div.header {
	width: 5vw;
	display: flex;
	justify-content: center;
}

#name {
	font-family: 'Courier New', Courier, monospace;
	font-size: 5rem;
	font-weight: 1000;
	text-shadow:
		1px 1px 2px rgba(187, 0, 255, 0.426),
		0 0 1em rgb(251, 0, 255),
		0 0 0.2em rgba(85, 0, 255, 0.853);
}

main {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.index-sections {
	padding-top: 0.8%;
	height: 27%;
	background-color: rgba(21, 15, 37, 0.363);
	width: 17%;
	border: thick double #973dd0;
	border-radius: 2vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2.5em;
	color: rgb(221, 25, 232);
	font-family: 'Courier New', Courier, monospace;
	text-shadow:
		1px 1px 2px rgba(187, 0, 255, 0.426),
		0 0 1em rgb(251, 0, 255),
		0 0 0.2em rgba(85, 0, 255, 0.853);
}

#upload-form, #delete-div, #upload-cgi-form, #cgi-forms {
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	height: 90%;
	margin-bottom: 10%;
	width: 60%;
	justify-content: space-around;
	align-items: center;
}

.inputs {
	width: 100%;
}

.buttons {
	background-color: rgba(192, 119, 238, 0.393);
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	transition:
		background-color 0.3s,
		transform 0.3s;
}

.buttons:hover {
	background-color: rgba(192, 119, 238, 0.504);
}

input[type=file]::file-selector-button {
	background-color: rgba(192, 119, 238, 0.393);
	border-radius: 7px;
	border-style: solid;
	border-color: black;
	transition:
		background-color 0.3s,
		transform 0.3s;
}

input[type=file]::file-selector-button:hover {
	background-color: rgba(192, 119, 238, 0.504);
}

input[type="text"] {
	border-radius: 7px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	background-color: rgba(192, 119, 238, 0.393);
}

input[type="text"]:hover {
	background-color: rgba(192, 119, 238, 0.504);
}

input::placeholder {
	color: rgb(29, 29, 29);
}

#upload-button, #delete-button, #launch-cgi, #upload-cgi-button {
	height: 50%;
}

#delete-input {
	width: 96%;
}

#cgi-list-container {
	display: flex;
	width: 100%;
}

#fetch-cgi {
	width: 100%;
}

#search-form {
	width: 100%;
	display:flex;
}

select {
	width: 200%;
}

#footer-id {
	color: rgb(183, 39, 231);
	text-shadow:
		1px 1px 2px rgba(187, 0, 255, 0.426),
		0 0 1em rgb(251, 0, 255),
		0 0 0.2em rgba(85, 0, 255, 0.853);
	transition:
		text-shadow 0.3s,
		transform 0.3s;
}

#footer-id:hover {
	text-shadow:
		1px 1px 2px rgba(187, 0, 255, 0.426),
		0 0 1em rgb(102, 0, 255),
		0 0 0.2em rgba(85, 0, 255, 0.853);
}

.titles {
	margin: 6%;
}

#index-footer {
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-decoration: none;
}

#credits-main {
	margin: 7%;
	display: flex;
	flex-direction: column;
	align-items: start;
}

#Tom, #Tristan, #Anicet {
	height: fit-content;
	display: flex;
	flex-direction: column;
	width: 100%;
}

p.surnames {
	font-size: 2.7em;
	margin: 0;
	margin-bottom: 0.5%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #492ee4dc;
	text-shadow:
		1px 1px 2px rgba(111, 13, 146, 0.24),
		0 0 1em rgba(102, 0, 255, 0.726),
		0 0 0.2em rgba(85, 0, 255, 0.61);
}

.github, .intra {
	font-size: 1em;
	font-weight: 600;
	width: fit-content;
	text-shadow:
		1px 1px 2px rgba(0, 0, 0, 0.589);
	font-family: 'Courier New', Courier, monospace;
	letter-spacing: 0;
	color: #ac31f8;
	margin: 0;
	margin-left: 1%;
}

#cgi-response-title {
	margin: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	color: rgb(221, 25, 232);
	font-family: 'Courier New', Courier, monospace;
	text-shadow:
		1px 1px 2px rgba(187, 0, 255, 0.426),
		0 0 1em rgb(251, 0, 255),
		0 0 0.2em rgba(85, 0, 255, 0.853);
}

#cgi-response {
	display: flex;
	flex-direction: column;
	background-color: #7b7b7b43;
	margin: 4%;
	margin-top: 0;
	border: thick double #973dd0;
	border-radius: 1.7vh;
	height: 100%;
	max-height: fit-content;
	backdrop-filter: blur(0.45rem);
}
